
<div class="row article_show_title">
	<div class="col-lg-9 col-md-6 col-s-6">
		<h1><%= @article.title %></h1>
	</div>
	<div class="col-lg-3 col-md-6 col-s-6">
		<% if logged_in? %>
			<% if @article.author_id == current_user.id %>
				<div class="update_class">
					<%= link_to "Edit", edit_article_path(@article) %>	
					<%= link_to "Delete", article_path(@article), method: :delete,data: {confirm: "Really delete the article?"} %>	
				</div>
				
			<%end%>
		<%end%>	
	</div>
</div>
<div class="row tag_class">
	<div class="col-lg-10 col-md-6 col-s-4">
		<strong>Tags:</strong>
		<% @article.tags.each do |tag| %>
			<%= link_to tag.name, tag_path(tag) %>
		<%end%>	
	</div>
	
</div>
<div class="row">
	<div class="col-lg-12 col-md-6 col-s-4">
		<%= @article.body %>	
	</div>
		
</div>

<br>
<br>

<h3>Comment (<%= @article.comments.size %>)  </h3>

	<div id="comment_class">	
		<%= render partial: 'articles/comment', collection: @article.comments %>
	</div>

	<br>
	<%if logged_in? %>

		<%= render partial: 'comments/form' %><br>	

	<%else%>
		
		<%=link_to 'Do you want to tell something through comments ?', new_author_session_path %>

		<br>
	<%end%>
	


